*{
    margin:0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li {
    display: inline-block;
}
a {
    text-decoration: none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}
.Nav:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s ease;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(wlp1.jpg);
    height:500px;
    background-size: cover;
    background-position: center;
}
.logo img {
    float:left;
    width:100px;
    height: 50px;
    margin: 5px;
}
.main {
    max-width: 1200px;
    margin:auto;
}
ul li.active a{
    background-color: #fff;
    color: #000;
    margin: 3px;
} 
.title {
    position:  absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: popup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: ease;
    animation-timing-function: ease;
}
@keyframes popup {
    0% {
        top:45%;
    }
    100% {
        top:40%;
        
    }
    
}
.title h1{
    color: #fff;
    font-size: 70px;
}